
.inter-<uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext';
src: url('//asia-exstatic.vivoglobal.com/static/font/AvenirNext/AvenirNextRegular_17c1dc8.eot'),url('//asia-exstatic.vivoglobal.com/static/font/AvenirNext/AvenirNextRegular_6b6dbe3.woff2') format('woff2'),url('//asia-exstatic.vivoglobal.com/static/font/AvenirNext/AvenirNextRegular_2d26b87.woff') format('woff'),url('//asia-exstatic.vivoglobal.com/static/font/AvenirNext/AvenirNextRegular_c99fe90.ttf') format('truetype'),url('//asia-exstatic.vivoglobal.com/static/font/AvenirNext/AvenirNextRegular_e7a17f8.svg') format('svg');
font-weight: normal;
font-style: normal;

}
    main{
    height: 100vh;
    width: 100vw;
    /* border: solid; */
}
/* nav bar start */
nav{
    height: 80px;
    /* border: solid; */
    display: flex;
}
article{
    height: 100%;
    /* border: solid; */
    align-items: center;
    justify-content: center;
    display: flex;

}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
li{
    display: flex;
    align-items: center;
    /* color: black; */

}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}
/* a:hover{
    color: goldenrod;
} */
#popup{
    position: absolute;
    top: 80px;
    left: 0;
    height: 300px;
    width: 100vw;
    border: solid;
    display: none;
}
li:hover a{
    color: goldenrod;
}
li:hover #popup{
    display: block;
}
#logo{
    flex-basis: 15%;
}
#navi{
    flex-basis: 75%;
}   
#profile{
    flex-basis: 10%;
    justify-content: space-evenly;
}
svg{
    height: 30px;
    width: 30px;
}

/* nav bar end  */


